# Dependencies
node_modules/
**/node_modules/

# Env
.env
**/.env
!**/.env.example

# Build outputs
dist/
**/dist/
build/
.angular/

# Prisma
backend/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
